<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Regression Suite">

<listeners>
<listener class-name="customlistner.Listener"></listener>
<!-- <listener class-name="com.test.automation.uiAutomation.customListner.RetryListener"></listener>  -->
</listeners>

<test name="testexe1">
<classes>
<class name="testscripts.TestSample1"></class>
</classes>
</test>

<test name="testexe2">
<classes>
<class name="testscripts.TestSample2"></class>

</classes>
</test>

</suite>